<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>

<body>
    <center>
        <h1>¡El autor de a registrado una corrección!. <br/>

            <p>nombre
                <p>En tu sección de evaluaciones pendientes podrás<br> ver la correción que el autor adjuntó</h1>
    </center>

    <center>
        <h3>Una propuesta en evaluación ha recibido una corrección por parte del autor. Revísala cuanto antes para no demorar el proceso.
        </h3>
    </center>
    <br />
    <hr/>
    <img src="cid:logo" alt="logo universidad de medellín">
</body>

</html>