<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <center>
      <h1>Evaluación de {{publicacion}}</h1>
    </center>

    <h3>Organización de contenido: {{nota1}}</h3>
    <h3>Estilo: {{nota2}}</h3>
    <h3>Aportes de obra: {{nota3}}</h3>
    <h3>Temporalidad: {{nota4}}</h3>
    <h3>Concepto: {{nota5}}</h3>
    <h3>Comentarios: {{comentarios}}</h3>

    <hr/>
  </body>
</html>