<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <center>
      <h1>¡Tu evaluador ha subido una retroalimentación, {{nombre}}!</h1>
    </center>

    <center>
      <h3>Tu propuesta <i>{{publicacion}}</i> ha recibido una retroalimentación por parte de tu evaluador, dirigete a
          los estados de tu propuesta para revisar el pdf con la retroalimentación. Recuerda que tienes quince días
          para responder, de lo contrario ¡Tu propuesta podrá ser rechazada!
      </h3>
    </center>
    <br />
    <hr/>
    <img src="cid:logo" alt="logo universidad de medellín">
  </body>
</html>