<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <center>
      <h1>¡Una de tus propuestas ha sido evaluada {{nombre}}!</h1>
    </center>

    <center>
      <h3>Tu propuesta <i>{{publicacion}}</i> ha sido evaluada, puedes ver el reporte en el pdf adjunto     
      </h3>
    </center>
    <br />
    <hr/>
    <img src="cid:logo" alt="logo universidad de medellín">
  </body>
</html>